.feedback {
  display: flex;
  gap: 20px;
  list-style: none;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  background-color: rgb(123, 220, 123);
}

button:hover,
button:focus {
  box-shadow: 0px 3px 10px 3px rgb(150, 243, 150);
}

.neutral {
  background-color: lightgray;
}

.neutral:hover,
.neutral:focus {
  box-shadow: 0px 3px 10px 3px lightgray;
}

.bad {
  cursor: pointer;
  background-color: rgb(230, 108, 108);
}

.bad:hover,
.bad:focus {
  box-shadow: 0px 3px 10px 3px lightcoral;
}
button:active {
  scale: 0.9;
  box-shadow: none;
  cursor: pointer;
}
